#out_block {
    height: 30000px;
}

#fixed_block {
    position: sticky;
    top: 0px;
    background-color: rgb(241, 198, 212);
    height: 50px;
}

.headerType {
    margin-left: 1%;
}

.nav-list a {
    margin-right: 40px;
}

.nav-list  {
    margin-right: 660px;
}

.nav-brand {
    padding-top: 0px;
    padding-left: 5px;
    width: 150px;
    height: 120px;
}

.navbar {
    display: block;
    width: 100%;
    height: 60px;
    background:  rgb(236, 211, 219);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .4);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #7083ed;
    text-decoration: none;
    position: relative;
    margin-left: 20px;
    font-size: 20px;
    right: 0px
}

.nav-toggler {
    display: none;
}

.input-container{
  width:300px;
}

.input-group{
  position:relative;
  display:flex;
  align-items:center;
}

.input-group input{
  padding:15px 3rem 15px 15px;
  width:100%;
  backgroup:#112d37;
  outline:none;
  border:1px solid #215164;
  border-radius: 4px;
  color:#fff;
  transition:width 0.9s,
  height 0.9,
  border-radius 0.9s;
  font-size:16px;
}

.input-group input:focus{
  border: 1px solid #55b7dd;
  box-shadow:0px 0px 2px 2px #55b7dd34;
}

.input-group .taggle{
  position: absolute;
  right:10px;
  font-size:25px;
  cursor:pointer;
  user-select:none;
  z-index:99;
}

.input-group .ripple{
  background: :#fff;
  display: block;
  position:absolute;;
  height:35px;
  width: 35px;
  border-radius: 50%
  right:10px;
  transition: all 0.2s;
  z-index: 1;
}

.pass-strength{
  display: flex;
  align-items: center;
  margin-top: :3px
}

.strength-lable{
  font-size: 12px;
  margin-left: 10px;
}

.strength-percent{
  flex: 1;
  height: 5px;
  border-radius: 10px;
  display: block;
  background: #eee;
}

.strength-percent span{
  display: block;
  height: 100%;
  transition: all 0.4s;
  border-radius: 10px;
}

.weak{
  background: red;
  width: 33%;
}

.average{
  background: #ffd000;
  width: 100%;
}

.strong{
  background: green;
  width: 100%;
}

.Headee {
	display: inline-block;
}
